body{
    margin: 0px;
    text-align: center;
    color:#40514E;
}
h1{
    font-family: 'Satisfy', cursive;
    margin: 0 auto 0 auto;
    color:#66BFBF;
    line-height: 1;

}
p{
    line-height: 2;
}
.top{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;

     
}
.middle{
    
margin: 100px 0;
    
    
  
}
.bottom{
    margin-top: 50px;
    background-color: #66BFBF;
    text-indent: 2px;
    padding: 50px 0 20px;
    
} 
 .pro{
    font-family: bree serif;
    text-decoration: underline;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
    
 } 
 h2{
    font-weight: normal;
    padding-bottom: 10px;
 }
 .lowercloud{
    position: absolute;
    bottom:300px;
    left:300px;
 }  

 .uppercloud{
    top: 50px;
    position: absolute;
    right: 300px;
 }
 h3{
    color:#11999E;
 }
 a{
    color:#11999E;
    margin: 10px 20px;
    text-decoration: none;
 }
 a:hover{
    color:#2f8080;
 }
 .skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
 }
 .web1{
    width:25%;
    float:left;
    margin-right: 30px;
 }
 .ja{
    width:25%;
    float:right;
    margin-right:30px;
 }
 .prof{
    width:20%;
 }

 .btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

 }
    
 hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
    margin:100px auto;
 }

 .last{
    color:#EAF6F6;
 }
    

